* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titan One', cursive;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: cadetblue;
  margin: 100px auto;
}
div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
  height: 50%;
  background-color: brown;
  color: white;
  text-align: center;
  transition: all .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
div:hover > p {
  color: rgb(5, 32, 112);
  background-color: rgb(75, 234, 27);
  transform: scale(2);
}
