body {
  margin: 0;
}
:root {
  font-family: sans-serif;
}
header {
  background-color: teal;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 30px 0;
}
header>* {
  margin: 0;
}
nav{
 background-color: black;
 display: flex;
 gap: 1px;
}

.link_container{
 color: white;
 text-decoration: none;


}
.link{
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-right: 1px solid white;
}
.link:hover{
 background-color: red;
}
main{
 display: flex;
}
.section-left{
flex-basis: 30%;
background-color: bisque;
padding: 20px;

}
.section-left .img{
height: 200px;
  background-image: url(./images/shirt.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #9d9d9d;
}
.section-rigth{
  flex-basis: 70%;
  background-color: beige;
  padding: 20px;
}
.section-rigth .img{
  height: 200px;
 background-image: url(./images/shirt.png);
 background-size: contain;
 background-color: rgb(170, 170, 170);
 background-repeat: no-repeat;
}
footer{
  background-color: teal;
  padding: 10px;
  text-align: center;
}
